@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/american-typewriter.eot');
  src: url('../fonts/american-typewriter.eot?#iefix') format('embedded-opentype'),
       url('../fonts/american-typewriter.woff2') format('woff2'),
       url('../fonts/american-typewriter.woff') format('woff'),
       url('../fonts/american-typewriter.ttf') format('truetype'),
       url('../fonts/american-typewriter.svg#american_typewriterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/american-typewriter-bold.eot');
  src: url('../fonts/american-typewriter-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/american-typewriter-bold.woff2') format('woff2'),
       url('../fonts/american-typewriter-bold.woff') format('woff'),
       url('../fonts/american-typewriter-bold.ttf') format('truetype'),
       url('../fonts/american-typewriter-bold.svg#american_typewriterregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

.c1 { color: #f1bf59; }
.c2 { color: #f26a5b; }
.c3 { color: #25b7c1; }
.c4 { color: #60be79; }

strong {
  font-weight: bold;
}

body {
  color: white;
  font-family: 'American Typewriter';
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.header {
  height: 112px;
  background-color: #072d46;
}

.logo {
  display: block;
  margin: auto;
  width: 280px;
  padding-top: 40px;
}

.content {
  background-color: #002238;
  background-image: url("../images/Pattern-To-Repeat.png");
  background-size: 250px;
  padding: 55px 0;
}

section {
  margin: auto;
  margin-top: 85px;
  width: 640px;
  background-color: #002238;
  padding: 40px 0;
  position: relative;
}

section p {
  padding: 0 20px;
}

section.about-us {
  border: 1px solid #25b7c1;
}

section.our-principles {
  border: 2px dashed #60be79;
}

section.consists-of {
  border: 1px solid #f26a5b;
  padding-bottom: 20px;
}

section.consists-of .person {
  width: 150px;
  padding: 0 10px;
}

section.consists-of .header-image.desktop {
  display: block;
}

section.consists-of .header-image.mobile {
  display: none;
}

section.we-are-grateful {
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid #f6bd79;
}

section.flags {
  background-color: #0f2345;
  border: 3px dotted #eaf3dc;
}

section.flags .screenshot-container {
  width: 770px;
  margin: 20px 0 10px -65px;
}

section.flags .screenshot-container .screenshot {
  width: 220px;
  padding: 15px;
}

section.flags .download {
  color: white;
  font-weight: bold;
}

section .header-image {
  height: 60px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;
}

section .header-image.left {
  left: -180px;
}

section .header-image.right {
  left: 180px;
}

@media only screen and (max-width : 750px) {
  section {
    width: 90%;
  }

  section.consists-of {
    padding-top: 60px;
  }

  section.consists-of .person {
    width: 220px;
  }

  section.consists-of .header-image.desktop {
    display: none;
  }

  section.consists-of .header-image.mobile {
    display: block;
    height: 100px;
    top: -50px;
  }

  section.flags .header-image.left {
    left: 0;
  }

  section.flags .header-image.right {
    display: none;
  }

  .screenshot-container {
    display: inline;
  }

  .screenshot-container .screenshot.best {
    display: block;
    margin: auto;
  }
}
